@mixin absCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

// media query manager
@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    // 600px / 16 = 37.5em
    @media (max-width: 37.5em) {
      @content;
    }
  }

  @if $breakpoint == tab-port {
    // 900px / 16 = 56.25em
    @media (max-width: 56.25em) {
      @content;
    }
  }

  @if $breakpoint == tab-land {
    // 1200 / 16 = 75em
    @media (max-width: 75em) {
      @content;
    }
  }

  @if $breakpoint == big-desktop {
    // > 1800px / 16 = 112.5em
    @media (min-width: 112.5em) {
      @content;
    }
  }
}
