.btn {
  padding: 1rem 3rem;
  border: none;
  background-color: $colorSoftRed;
  color: $colorOff-white;
  text-transform: capitalize;
  margin-top: 2.9rem;
  letter-spacing: 3px;
  font-weight: 700;
  transition: all 0.3s;

  &:hover {
    cursor: pointer;
    background-color: $colorVeryDarkBlue;
  }

  @include respond(phone) {
    margin-bottom: 2.5rem;
  }
}
